# docker-compose.yaml

version: '3.8'
services: 

  dns:
    image: 'pihole/pihole:latest'
    ports:
      - '53:53/tcp'
      - '53:53/udp'
      - '67:67/udp'
    environment:
      TZ: 'America/Los_Angeles'
      WEBPASSWORD: '{{ pihole_admin_password }}'
    volumes:
      - '{{ data_dir }}/pihole/:/etc/pihole/'
      - '{{ data_dir }}/dnsmasq/:/etc/dnsmasq.d/'
    volumes:
      - '{{ data_dir }}/:/data/'
    networks:
      - '{{ docker_network }}'
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.services.pihole.loadbalancer.server.port=80
        - traefik.http.routers.pihole.rule=Host(`{{ proxy_domains | join('`,`') }}`)
        - traefik.http.routers.pihole.tls.certresolver=step-ca
networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
